{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %}Smart Outreach{% endblock title %}</title>
	<meta charset="UTF-8">
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="{% static '/images/smart_outreach.svg' %}">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<style>
		* {
			font-family: 'Inter' !important;
		}
	</style>
	{% tailwind_css %}
</head>

<nav class=" bg-[#2B2358] top-0 right-0 left-0 text-white ">
	<div class="flex justify-between items-center h-16 w-11/12 mx-auto">
		<a href="/">
			<div class="ml-[4.88vw] text-base font-bold">
				Smart Outreach
			</div>
		</a>
		<div class="flex justify-center item-center mr-[4.88vw]">
			<div class="flex justify-center items-center mr-6">
				<div class="mr-8 text-sm "><span class="font-semibold underline">{{user.api_calls}}/{{user.api_calls_limit}}</span><span class=" "> Credits Used</span>  </div>
			</div>
			<div class="">
			<button onclick="toggle_nav()" id="dropdownDividerButton" data-dropdown-toggle="dropdownDivider"
				class="text-white bg-[#4F4589] px-3 py-1 rounded">{{user.name}} 🖐</button>

			<!-- Dropdown menu -->
			<div id="dropdownDivider"
				class="outline-2 outline-[#4F4589] hidden absolute mt-2 z-10 bg-[#4F4589] divide-y divide-gray-100 rounded shadow w-44">
				<ul class="text-sm dark:text-gray-200" aria-labelledby="dropdownDividerButton">

					<li>
						<a href="/dashboard" class="block px-4 py-2 hover:bg-[#2B2358]">Dashboard</a>
					</li>

					<li>
						<a href="/profile" class="block px-4 py-2 hover:bg-[#2B2358]">Profile</a>
					</li>

					<li>
						<a href="/logout" class=" rounded block px-4 py-2 hover:bg-[#2B2358]">Logout</a>
					</li>

				</ul>
			</div>
		</div>


		</div>
	</div>
</nav>

{% block content %}

{% endblock content %}
<script src="{% static '/js/main.js' %}"></script>

</html>