{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% tailwind_css %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signin_css.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Signin -Smartoutreach</title>
</head>

<body class="bg-[#F0EEF7] flex justify-center items-center h-screen ">
    <!-- h-[91.1vh] -->
    <!-- w-[37.1vw] -->
    <!-- shadow-[0px 40.9451px 81.8901px -15.3544px rgba(85, 105, 135, 0.08)]  -->
    <div class="bg-white px-[45px] w-[470px] rounded-2xl flex-col ">
        <div class="flex items-center justify-center -mt-12">
            <img class=" w-[72px]" src="{% static '/images/smart_outreach.svg' %}" alt="">
        </div>
        <!-- text-[2.3vw] -->
        <!-- text-[2.375rem] -->
        <div class="font-bold text-[2rem] mb-11 mt-[22px] text-[#2A3342] flex items-center justify-center">
            Change Password ?
        </div>

        <!-- text-[1.25rem] -->
        <form method="POST">
            {% csrf_token %}
            <p class='mb-4 text-red-600'>{{ error }}</p>

            <div>
                <div class="mt-6 font-medium text-[#333F51] text-lg mb-1">
                    <label for="password">New Password</label>
                </div>
                <div>
                    <input name='new_password1' type="password" required id="password"
                        class="flex border-2 rounded-lg gap-[9px] py-4 px-3 w-[381px]" type="text"
                        placeholder="Enter your password">
                </div>

                <div class="mt-6 font-medium text-[#333F51] text-lg mb-1">
                    <label for="new_password1">Confirm New Password</label>
                </div>
                <div>
                    <input name='new_password2' type="password" required id="password"
                        class="flex border-2 rounded-lg gap-[9px] py-4 px-3 w-[381px]" type="text"
                        placeholder="Confirm new password">
                </div>

            </div>


            <button
                class=" mt-6 w-full font-medium text-base flex justify-center items-center text-white bg-[#2B2358] rounded-lg py-3 px-5 gap-2">Sign
                Up</button>
        </form>


        <!-- text-[1.25rem] -->
        <div class=" mt-7 mb-[54px] flex justify-center items-center text-lg font-medium">
            <div>
                <a href="/sign-in" class="decoration-none text-[#333F51]"></a>
            </div>
            <div class=" ml-1 text-[#2B2358]">
                <a href="/forget-password">forget password?</a>

            </div>
        </div>
    </div>
</body>

</html>