{% extends "base.html" %}
{% load static %}

{% block title %}Automation - Add Domain From Cloudflare To Zoho{% endblock title %}


{% block content %}



<body class="bg-white flex-col justify-center items-center">
    <!-- main content  -->
    <div class="mt-28 flex justify-start border-2 w-10/12 mx-auto py-[4.3rem] px-14 mb-24 rounded-xl">

        <!-- left -->
        <div class="tab">
            <div>
                <button class="tablinks flex justify-start pl-6 py-3 w-44 text-xl font-medium rounded-lg mr-20 mb-1"
                    type="submit" id="defaultOpen" onclick="openCity(event, 'Profile')">Profile</button>
            </div>
            <div>
                <button class="tablinks flex justify-start pl-6  py-3 w-44 text-xl font-medium rounded-lg mb-1 mr-20"
                    type="submit" onclick="openCity(event, 'Cloudfare')">Cloudflare</button>
            </div>
            <div>
                <button class="tablinks  flex justify-start pl-6 py-3 w-44 text-xl font-medium rounded-lg mb-1 mr-20"
                    type="submit" onclick="openCity(event, 'Zoho')">Zoho</button>
            </div>
            <div>
                <button class="tablinks flex justify-start pl-6  py-3 w-44 text-xl font-medium rounded-lg mb-1 mr-20"
                    type="submit" onclick="openCity(event, 'SmartLead')">SmartLead</button>
            </div>
        </div>
        <!-- vertical rule -->
        <div class="bg-[#4F4589] min-h-min w-0.5 mr-20">

        </div>
        <!-- right -->
        <form method="POST">
            {% csrf_token %}
            <div>
                <!-- for save button and profile alignment -->

                <div>
                    <!-- profile  -->
                    <div id="Profile" class="tabcontent">
                        <div class="text-[#4F4589] text-3xl font-semibold ">
                            Profile
                        </div>
                        <div class="w-80 bg-[#4F4589] h-0.5 mb-5 ">
                        </div>
                        <div class="mb-5">
                            <div>
                                <label class="text-xl font-semibold mb-4" for="inp1">Name</label>
                            </div>
                            <div>
                                {{form.name}}
                            </div>
                        </div>
                        <div class="mb-5">
                            <div>
                                <label class="text-xl font-semibold mb-4" for="inp2">Email</label>
                            </div>
                            <div>
                                {{form.email}}
                            </div>
                        </div>
                        <div class="mb-5">
                            <div>
                                <label class="text-xl font-semibold mb-4" for="inp3">Phone Number</label>
                            </div>
                            <div>
                                {{form.phone}}
                            </div>
                        </div>
                        <div class="mb-5">
                            <div>
                                <label class="text-xl font-semibold mb-4" for="inp4">Company Name</label>
                            </div>
                            <div>
                                {{form.company_name}} </div>
                        </div>
                    </div>
                    <!-- Cloudfare -->
                    <div id="Cloudfare" class="tabcontent hidden">
                        <div class="text-[#4F4589] text-3xl font-semibold ">
                            Cloudflare
                        </div>
                        <div class="w-80 bg-[#4F4589] h-0.5 mb-5 ">
                        </div>
                        <p class="mt-5 mb-5" > <a class="text-blue-800 underline" target="_blank" href="https://rithikrajput.notion.site/rithikrajput/Cloudflare-7f8782e7885444a892e03d09796a3dc6">How to connect Cloudflare with Smart Outreach ?</a></p>
                        <div class="mb-5">
                            <div>
                                <label class="text-xl font-semibold mb-4" for="inp5">Email</label>
                            </div>
                            <div>
                                {{form.cloudfare_email}}
                            </div>
                        </div>
                        <div class="mb-5">
                            <div>
                                <label class="text-xl font-semibold mb-4" for="inp6">Cloudflare OAuth Token</label>
                            </div>
                            <div>
                                {{form.cloudfare_auth_code}}
                            </div>
                        </div>
                    </div>
                    <!-- Zoho  -->
                    <div id="Zoho" class="tabcontent hidden">
                        <div class="text-[#4F4589] text-3xl font-semibold ">
                            Zoho
                        </div>
                        <div class="w-80 bg-[#4F4589] h-0.5 mb-5 ">
                        </div>
                        
                        {% if zoho_oauth == False %}
                        <a class="cursor-pointer"
                            href="https://accounts.zoho.in/oauth/v2/auth?response_type=code&scope=ZohoMail.partner.organization.CREATE,ZohoMail.partner.organization.READ,ZohoMail.partner.organization.UPDATE,ZohoMail.partner.organization.DELETE,ZohoMail.organization.accounts.CREATE,ZohoMail.organization.accounts.READ,ZohoMail.organization.accounts.UPDATE,ZohoMail.organization.accounts.DELETE,ZohoMail.organization.domains.CREATE,ZohoMail.organization.domains.READ,ZohoMail.organization.domains.UPDATE,ZohoMail.organization.domains.DELETE&client_id=1000.Z80WKB696P26IQF9OJ8N02WR37N0VY&access_type=offline&redirect_uri=https://mvp.smartoutreach.net/zoho_auth/&prompt=consent">
                            <img class=" mt-8  max-w-[410px]" src="{% static '/images/connect_zoho.png' %}" alt="tes">
                        </a>
                        {% elif  zoho_oauth == True %} 
                        <p class="font-medium" >Zoho Account Is Already Connected!</p>
                        <a class="cursor-pointer"
                            href="https://accounts.zoho.in/oauth/v2/auth?response_type=code&scope=ZohoMail.partner.organization.CREATE,ZohoMail.partner.organization.READ,ZohoMail.partner.organization.UPDATE,ZohoMail.partner.organization.DELETE,ZohoMail.organization.accounts.CREATE,ZohoMail.organization.accounts.READ,ZohoMail.organization.accounts.UPDATE,ZohoMail.organization.accounts.DELETE,ZohoMail.organization.domains.CREATE,ZohoMail.organization.domains.READ,ZohoMail.organization.domains.UPDATE,ZohoMail.organization.domains.DELETE&client_id=1000.Z80WKB696P26IQF9OJ8N02WR37N0VY&access_type=offline&redirect_uri=https://mvp.smartoutreach.net/zoho_auth/&prompt=consent">
                            <img class=" mt-4  max-w-[410px]" src="{% static '/images/reconnect_zoho.png' %}" alt="tes">
                        </a>

                        {% endif %}


                    </div>
                    <!-- smartlead  -->
                    <div id="SmartLead" class="tabcontent hidden">
                        <div class="text-[#4F4589] text-3xl font-semibold ">
                            Smartlead
                        </div>
                        <div class="w-80 bg-[#4F4589] h-0.5 mb-5 ">
                        </div>
                        <p class="mt-5 mb-5" > <a class="text-blue-800 underline" target="_blank" href="https://rithikrajput.notion.site/rithikrajput/Smartlead-23cca4eeb3df463d8d64503a028af7c9">How to connect Smartlead with Smart Outreach ?</a></p>

                        <div class="mb-5">
                            <div>
                                <label class="text-xl font-semibold mb-4" for="inp9">Smartlead API Key</label>
                            </div>
                            <div>
                                {{form.smart_lead_api_key}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- save button -->
                <div class=" save_button_hide mt-10">
                    <button class=" w-[35rem] py-2 rounded-md bg-[#2B2358] text-white text-lg font-medium "
                        type="submit">Save changes</button>
                </div>
            </div>
        </form>

    </div>


</body>

<script>
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" border-2", "");
            tablinks[i].className = tablinks[i].className.replace(" bg-[#2B2358]", "");
            tablinks[i].className = tablinks[i].className.replace(" text-white", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "initial";
        document.querySelector(".save_button_hide").style.display = "initial";
        evt.currentTarget.className += " bg-[#2B2358]";
        evt.currentTarget.className += " text-white";

        if (document.querySelector("#Zoho").style.display == "initial") {
            console.log('working')
            document.querySelector(".save_button_hide").style.display = "none";
        }
    }
    document.getElementById("defaultOpen").click();


</script>

{% endblock content %}